@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
.number_ltr {
  direction: ltr !important;
  unicode-bidi: embed;
}
html,
body {
  font-family: 'Droid Arabic Kufi','DroidArabicKufiRegular', serif;
  direction: rtl;
}

header,
.main-menu nav > ul > li > a {
  font-family: 'Droid Arabic Kufi', serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: unset !important;
}

.rtl{
  direction: rtl;
  text-align: right !important;
  font-family: 'Droid Arabic Kufi','DroidArabicKufiRegular', serif;
}

.droid{
  font-family: 'Droid Arabic Kufi','DroidArabicKufiRegular', serif;
}

.form-control{
  border-radius: 0 0.25rem 0.25rem 0 !important;
}

.input-group-text{
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input-group-append{
  margin-right: -1px;
  margin-left:unset;
}
